[global]
# Run in background as daemon
daemon = false

# PID file location
#pidfile = /var/run/ludolph/ludolph.pid

# Log file (required)
# Empty value means logging to stdout
logfile = /tmp/ludolph.log

# Log level (required)
loglevel = INFO

# DB file used for storing operational user data (optional)
# Currently only used to achieve persistence of scheduled "at" commands across reboots.
#dbfile = /var/lib/ludolph/ludolph.shelf

[webserver]
# Start web server listening on host:port. Needed for webhooks functionality.
# Setting host or port to empty value will completely disable the web server.
host = 127.0.0.1
port = 8922

[cron]
# Enable cron scheduler process. Needed for cronjob functionality and the at and remind command.
enabled = false

[xmpp]
# Jabber bot nick name
nick = Ludolph

# Username used for jabber bot to login (required)
username = user@example.com

# Password used for jabber bot to login (required)
password = secretPassw0rd

# Jabber server address (default: using SRV DNS lookup to determine the host)
#host = xmpp.example.com

# Jabber server port (default: 5222)
#port = 5222

# Use TLS (default: true)
#tls = true

# Use SSL (default: false)
#ssl = false

# Using OpenFire server with SSL (disabled by default)
#sslv3 = false

# Comma-separated list of user jabber IDs.
# Users are authorized to run regular Ludolph commands.
# Leaving this option empty means that everybody is allowed to run Ludolph commands.
users =

# Comma-separated list of admin jabber IDs.
# Only admin is authorized to remove other users from Ludolph's roster.
# Leave this option empty to grant roster operations to everybody.
# You can use @users keyword here.
admins =

# Name of the Multi-User Chat room.
# Leaving this option empty will disable MUC.
#room =

# Comma-separated list of room user jabber IDs.
# Room users are authorized to access the MUC room.
# Leaving this option empty means that everybody is allowed to access the room.
# You can use @users or @admins keywords here.
#room_users =

# Comma-separated list of room admin jabber IDs.
# Room admins get privileges associated with the "admin" affiliation.
# You can use @users, @admins or @room_users keywords here.
#room_admins =

# Default MUC room affiliations set for Ludolph, room_users and room_admins.
# Affiliations won't be set if left empty.
#room_bot_affiliation = owner
#room_user_affiliation = member
#room_admin_affiliation = admin

# Default MUC room roles set for Ludolph, room_users and room_admins.
# Roles won't be set if left empty (default).
#room_bot_role =
#room_user_role =
#room_admin_role =

# Whether to send invites to new users to join the MUC room.
#room_invites = True

# Comma-separated list of user jabber IDs.
# Users will not receive message that will be broadcasted to Ludolph's roster.
# You can use @admins keyword here.
#broadcast_blacklist =

# Whether to skip sending of messages to users who have a DND status set (default: false)
#drop_messages_to_dnd_users = false


###############################################################################
# Ludolph Plugins. You can enable plugins by uncommenting a configuration section.
###############################################################################

# Ludolph base commands
[base]
# Absolute path to directory with avatars
#avatar_dir =

# Multi-User chat room commands (only useful when room option is enabled)
#[muc]
#salutations = true
#motd =

# Ludolph commands plugin
[commands]
# <name> = <command>, [flags], [comment]
#
# name      - name of the Ludolph's command
# command   - command or script to be executed in OS
# flags     - comma-separated flags: user_not_required, admin_required, room_user_required, room_admin_required
#                                    stream_output, ignore_output
# comment   - help message displayed in Ludolph
#
os-uptime = uptime, Display system uptime


# Zabbix API plugin (ludolph-zabbix)
#[ludolph_zabbix.zapi]
# Zabbix server URI
#server = https://zabbix.example.com/zabbix

# Zabbix credentials
#username = ludolph
#password =

# HTTP authentication
#httpuser =
#httppasswd =
