[global]
# Run in background as daemon
daemon = false

# PID file location. Required in daemon mode
#pidfile = /var/run/ludolph/ludolph.pid

# Log file (required)
# Empty value means logging to stdout
logfile = /tmp/ludolph.log

# Log level (required)
loglevel = INFO

[webserver]
# Start web server listening on host:port. Needed for webhooks functionality.
# Setting host or port to empty value will completely disable the web server.
host = 127.0.0.1
port = 8922

[cron]
# Enable cron scheduler process. Needed for cronjob functionality.
enabled = False

[xmpp]
# Jabberbot nick name
nick = Ludolph

# Username used for jabberbot to login (required)
username = user@example.com

# Password used for jabberbot to login (required)
password = secretPassw0rd

# Jabber server address (default: using SRV DNS lookup to determine the host)
#host = xmpp.example.com

# Jabber server port (default: 5222)
#port = 5222

# Use TLS (default: true)
#tls = true

# Use SSL (default: false)
#ssl = false

# Using OpenFire server with SSL (disabled by default)
#sslv3 = false

# Comma-separated list of user jabber IDs.
# Users are authorized to run regular Ludolph commands.
# Leaving this option empty means that everybody is allowed to run Ludolph commands.
users =

# Comma-separated list of admin jabber IDs.
# Only admin is authorized to remove other users from Ludolph's roster.
# Leave this option empty to grant roster operations to everybody.
# You can use @users keyword here.
admins =

# Name of the Multi-User Chat room.
# Leaving this option empty will disable MUC.
#room =

# Comma-separated list of room user jabber IDs.
# Room users are authorized to access the MUC room.
# Leaving this option empty means that everybody is allowed to access the room.
# You can use @users or @admins keywords here.
#room_users =

# Comma-separated list of room admin jabber IDs.
# Room admins get privileges associated with the "admin" affiliation.
# You can use @users, @admins or @room_users keywords here.
#room_admins =


###############################################################################
# Ludolph Plugins. You can enable plugins by uncommenting a configuration section.
###############################################################################

# Ludolph base commands
[base]
# Absolute path to directory with avatars
#avatar_dir =

# Zabbix plugin
#[zabbix]
# Zabbix server URI
#server = https://zabbix.example.com/zabbix

# Zabbix credentials
#username = ludolph
#password =

# HTTP authetication
#httpuser =
#httppasswd =
