# Ludolph 
ldlph.py

# Django stuff
*.log
*.pot
*.pyc
local_settings.py
config.cfg

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Eclipse
.project
.pydevproject

# Environments
envs
envs3

# OS files
.DS_Store
*.swp

# PyCharm
.idea
