include README.rst
include LICENSE
include MANIFEST.in
include setup.py
include ludolph/ludolph.cfg.example
recursive-include ludolph *.py
recursive-include ludolph/plugins/avatars *.png
recursive-include init.d *
recursive-include bin *
