# Ludolph systemd service file
#
# INSTALL:
#   - copy ludolph.conf tmpfiles configuration into /etc/tmpfiles.d/
#   - copy ludolph.service into /etc/systemd/system/
#   - do not enable daemon mode in ludolph.cfg
#   - run: systemd-tmpfiles --create /etc/tmpfiles.d/ludolph.conf
#   - run: systemctl enable ludolph.service && systemctl start ludolph.service

[Unit]
Description=Ludolph - Monitoring Jabber Bot
Documentation=https://github.com/erigones/Ludolph
After=network.target

[Service]
Type=simple
User=daemon
PIDFile=/run/ludolph/ludolph.pid
ExecStart=/usr/bin/ludolph
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
